.toastify {
  z-index: 999999999 !important;
  margin-right: 22px;
  padding: 0 0 0 6px;
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  letter-spacing: 0.0125rem;
  font-family: var(--ff-base);
  line-height: 1.5;

  &-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 4px;
    width: 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-white);

    &:hover {
      transition: all 180ms ease;
      font-weight: 900;
      box-shadow: 0 0 1px 0 currentColor;
      border-radius: 0 0 0 4px;
    }
  }

  @media screen and (max-width: 1367px) {
    font-size: var(--fs-12);
  }
}

.Toastify__toast {
  &--error,
  &--success,
  &--warning,
  &--info,
  &--default {
    position: relative;
    background: rgba(255, 255, 255, 0.95) !important;
    border-radius: 4px;
    min-height: 48px;
    color: var(--color-emperor);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 28px;
      height: 100%;
      opacity: 0.8;
    }
  }

  &--error::before { background-color: var(--toast-error); }
  &--success::before { background-color: var(--toast-success); }
  &--info::before { background-color: var(--toast-info); }
  &--warning::before { background-color: var(--toast-warning); }
}

.Toastify__progress-bar {
  &--error { background-color: var(--toast-error) !important; }
  &--success { background-color: var(--toast-success) !important; }
  &--info { background-color: var(--toast-info) !important; }
  &--warning { background-color: var(--toast-warning) !important; }
}
